<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sweng04.speachtherapyapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordPage"
            android:label="@string/Recorder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.Homepage" />
        </activity>
        <activity android:name=".Categories"
            android:label="@string/Categories">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.RecordPage" />
        </activity>
        <activity
            android:name=".AddCategory"
            android:label="Add a Category">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.RecordPage" />
        </activity>
        <activity
            android:name=".EditRecording"
            android:label="@string/title_activity_edit_new_recording">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.RecordPage" />
        </activity>
        <activity
            android:name=".AddRecToCat"
            android:label="Add to a Category">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.EditRecording" />
        </activity>
        <activity
            android:name=".Edit"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.Homepage" />
        </activity>
        <activity android:name=".EditCategory"
            android:label="Edit Category">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.Edit" />
        </activity>
        <activity android:name=".Recordings"
            android:label="@string/Recordings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sweng04.speachtherapyapp.Homepage" />
        </activity>
    </application>

</manifest>